.header {
   align-items: center;
   background-color: #1d1d1d;
   border-radius: 10px;
   box-shadow: 1px 1px 40px #555555;
   color: rgb(226, 226, 226);
   display: flex;
   justify-content: space-between;
   margin: auto;
   padding: 1rem 2rem;
   width: 90%;
}