.table__buttons {
   align-items: center;
   display: flex;
   justify-content: center;
}

.button {
   border: none;
   padding: .7rem ;
}

.button.edit {
   background-color: green;
}

.button.delete {
   background-color: red;
}

@media (max-width: 755px) {
   .button {
      margin-bottom: 5px;
   }
}