.table__buttons {
   align-items: center;
   display: flex;
   justify-content: center;
}

.button {
   border-radius: 5px;
   border: none;
   cursor: pointer;
   font-size: .8rem;
   padding: .5rem;
}

.button.edit {
   background-color: green;
   color: white;
}

.button.delete {
   background-color: red;
   color: white;
}

@media (max-width: 755px) {
   .button {
      margin-bottom: 5px;
   }
}