.modal__footer__button {
   border-radius: 5px;
   color: white;
   cursor: pointer;
   font-size: .8rem;
   padding: .8rem 1rem;
   transition: .5s;
}

.green {
   background-color: transparent;
   border: 1px solid green;
   color: green;
}

.green:hover {
   background-color: green;
   border-color:rgb(58, 1, 105);
   color: white;
}

.red {
   border: 1px solid red;
   background-color: transparent;
   color: red;
}

.red:hover {
   background-color: red;
   color: white;
}